* {
    font-family: system-ui, sans-serif;
    color: black;
}

button {
    background-color: white;
    border: 2px solid black;
    font-size: medium;
    padding: 5px 20px;
    text-align: center;
}

label {
    font-size: medium;
    padding: 5px 5px;
    text-align: left;
}

input[type=text] {
    background-color: white;
    border: 2px solid black;
    font-size: medium;
    padding: 5px 20px;
    text-align: left;
    text-decoration: none;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background: darkgray;
}

tbody tr:nth-child(even) {
    background: lightgray;
}

td, th {
    border-left: 2px solid black;
    padding: 5px;
    align-content: left;
}

.modal-window {
    display: none;
    position: fixed;
    background: white;
    border: 2px solid black;
    left: 10%;
    top: 10%;
    height: 50%;
    width: auto;
}

.modal-head {
    border-bottom: 2px solid black;
    padding: 5px;
}

.modal-body {
    margin: 20px;
    overflow: auto;
    height: 80%;
    width: 80%;
}

.modal-button-open {
    margin: 2px;
    float: left;
}

.modal-button-close {
    margin: 2px;
    float: right;
}
